# macOS files
.DS_Store

# Xcode
xcuserdata/
*.xccheckout
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Build artifacts
*.o
*.d
*.apple_binary
*.build

# Logs
*.log

# Python
*.pyc
